.label-project {
    background-color: #ED7638;
}

.label-location {
    background-color: #EA9D43;
}

.accordion {
    margin-bottom: 2em;
}

.tags_container .tag_elem:last-of-type {
    margin-right: auto;
}

.tag_elem {
    margin-right: .5em;
}

.add_tag_input {
    max-width: 10em;
    display: inline;
    margin-right: .5em;
    max-height: 30px;
    padding: 4px 6px;
}

/* autocomplete */
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected, .autocomplete-selected  { background:#F0F0F0; }
.autocomplete div, .autocomplete-suggestion { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete, .autocomplete-suggestions strong { font-weight:normal; color:#3399FF; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }

.input-group-addon.glyphicon-calendar, .input-group-addon.glyphicon-time, .display_event .panel-heading {
    cursor: pointer;
}

.modal-dialog {
    height: 95%;
}

.modal-content {
    height: 100%;
}

.modal-body {
    padding: 0;
    height: 90%;
}

.modal {
    min-height: 80%;
}

iframe {
    width: 100%;
    height: 100%;
}

.frameside {
    padding: 1em;
}

.popover {
    max-width: 500px;
}

.table-data {
    min-width: 25em;
}

.label-gender-unknown:before, .label-gender-unknow:before { content: "⚤"; }

.label-gender-male:before { content: "♂"; font-size: 150%; font-weight: bold; }
.label-gender-male { background-color: #0093e0; }

.label-gender-female:before { content: "♀"; font-size: 150%; font-weight: bold; }
.label-gender-female { background-color: #7f3e98; }

.statistics h2, .statistics h3, .statistics h4, .statistics h5 {color: #222222; line-height: 1.50; margin: 0; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); }
.statistics .ident{ padding-left: 35px; }
.statistics .important{ font-weight: bold; }
.questionlist {
    border-left: 1px solid grey;
}

.label-inverse {
    background-color: black;
    color: white;
}

.table-stats td, .table-stats th {
    text-align: center;
}

.table-stats td:first-of-type, .table-stats th:first-of-type {
    text-align: left;
}

.table-stats-vertical td {
    text-align: center;
}
li {
    line-height: 1.8;
}

th, td {
    line-height: 150%;
}

.phonelead {
    font-size: 120%;
}






.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body.archives .pagination {
    margin: 0;
}