.badge_project {
    background-color: #ED7638;
    font-size: 12px;
}

.badge_woman {
    background-color: #FFC0CB;
    font-size: 12px;
}

.badge_man {
    background-color: #0000FF;
    font-size: 12px;
}

.badge_alert {
    background-color: #999999;
    font-size: 18px;
}

.badge_location {
    background-color: #EA9D43;
    font-size: 12px;
}

.badge_tag {
    background-color: #00ACED;
    font-size: 12px;
}

.display_event #accordion{
    margin-bottom: 16px
}


.tags_container .tag_elem:last-of-type {
    margin-right: auto;
}

.tag_elem {
    margin-right: .5em;
}

.add_tag_input {
    max-width: 10em;
    display: inline;
    margin-right: .5em;
    max-height: 30px;
    padding: 4px 6px;
}

/* autocomplete */
.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected, .autocomplete-selected  { background:#F0F0F0; }
.autocomplete div, .autocomplete-suggestion { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete, .autocomplete-suggestions strong { font-weight:normal; color:#3399FF; }
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.display_event #datepicker, .display_event #timepicker span {cursor: pointer;}

/* login */
.login_form  .form-control{width: auto;}
