{% extends "base.html" %}

{% block title %}Projets{% endblock %}

{% block extra_js %}
    styleFormElements();
{% endblock %}

{% block content %}

<h2>Gestion des projets</h2>
{% if projects %}
    <table class="table table-striped table-condensed table-bordered">
        <tr><th>Projets</th><th>Description.</th></tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr />
{% endif %}
<legend>Nouveau projet</legend>

<form role="form" action="{% url 'admin_projects' %}" method="post">{% csrf_token %}
    {% include "form_field.html" with field=form.name %}
    {% include "form_field.html" with field=form.description %}
  <button type="submit" class="btn btn-primary">Créer le projet</button>
</form>

{% endblock %}
