{% extends "base.html" %}

{% block extra_js %}styleFormElements();{% endblock %}

{% block content %}
<h2>Gestion des questionnaires</h2>

{% if surveys %}
<legend>Tous les questionnaires</legend>
<p>Les formulaires suivants sont disponibles pour tous les appels.</p>
<p>Il n'est pas possible de les modifier, ni de les supprimer ; mais vous pouvez les désactiver pour ne plus les voir apparaître dans le formulaire de saisie des appels.</p>
<table class="table table-striped table-condensed table-bordered">
{% for survey in surveys %}
<tr><th>Questionnaires</th><th>Nb.</th><th>Statut</th><th>Actions</th></tr>
    <tr class="{% if survey.status = survey.STATUS_CREATED %} warning{% endif %}">
        <td>{{ survey.title }}</td>
        <td>3</td>
        <td>{{ survey.status_str }}
            {% if survey.status = survey.STATUS_CREATED %}
            <button class="btn btn-xs btn-default">modifier</button>
            <button class="btn btn-xs btn-danger" title="Attention, vous ne pourrez plus le modifier ensuite!"><span class="glyphicon glyphicon-warning-sign"></span> valider</button>
            {% endif %}
        </td>
        <td>
            <button class="btn btn-xs btn-info">contenu</button>
            <button class="btn btn-xs btn-default">stats</button>
            <button class="btn btn-xs btn-danger">{% if survey.status = survey.STATUS_DISABLED %} re-activer{% else %}désactiver{% endif %}</button></td>
    </tr>
{% endfor %}
</table>
<hr />
{% endif %}

<legend>Nouveau questionnaire</legend>
<form role="form" action="{% url 'admin_surveys' %}" method="post">
{% csrf_token %}
    {% include "form_field.html" with field=form.title %}
    {% include "form_field.html" with field=form.description %}
  <button type="submit" class="btn btn-primary">Créer le questionaire</button>
</form>

{% endblock %}
