{% extends "base.html" %}

{% block title %}Surveys{% endblock %}

{% block extra_js %}
styleFormElements();
$('.survey-content-btn').each(function (){
    var content = $('.survey-schema[survey-id='+$(this).attr('survey-id')+']');
    $(this).popover({html: true, trigger: 'hover', content: content.html()});
});
{% endblock %}

{% block content %}
<h2>Surveys Management</h2>

{% if surveys %}
<legend>All Surveys</legend>
<p>Within the following surveys, only validated ones are available for data-entry.</p>
<p>You can only edit those which are not validated.</p>
<p>To hide a survey, disable it. Its data will still appear in exports. It can also be enabled-back any time.</p>
<table class="table table-striped table-condensed table-bordered">
<tr><th>Surveys</th><th>Quest. count</th><th>Status</th><th>Actions</th></tr>
{% for survey in surveys %}
    <tr>
        <td>{{ survey.title }}</td>
        <td>{{ survey.questions.count }}</td>
        <td><span class="label {% if survey.status = survey.STATUS_CREATED %}label-warning{% elif survey.status = survey.STATUS_DISABLED%}label-inverse{% else %}label-default{% endif %}">{{ survey.status_str }}</span>
            {% if survey.status = survey.STATUS_CREATED %}
            <a href="{% url 'admin_survey' survey.id %}"><button class="btn btn-xs btn-default">edit</button></a>
            {% endif %}
        </td>
        <td>
            {% if survey.questions.count %}{% include "survey_schema.html" with survey=survey %}
            <button class="btn btn-xs btn-info survey-content-btn" survey-id="{{ survey.id }}">content</button>
            <button class="btn btn-xs btn-default">stats</button>{% endif %}
            <a href="{% url 'admin_survey_toggle' survey.id %}"><button class="btn btn-xs btn-danger">{% if survey.status = survey.STATUS_DISABLED %} enable{% else %}disable{% endif %}</button></a></td>
    </tr>
{% endfor %}
</table>
<hr />
{% endif %}

<legend>New Survey</legend>
<form role="form" action="{% url 'admin_surveys' %}" method="post">
{% csrf_token %}
    {% include "form_field.html" with field=form.title %}
    {% include "form_field.html" with field=form.description %}
  <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}
