{% extends "base.html" %}
{% load douentza %}

{% block title %}Archives{% endblock %}

{% block content %}
<h2>Archives</h2>

<form  class="form-horizontal" role="form" action="{% url 'archives' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        {% include 'pagination.html' with paginator=requests_paginator %}
      </div>
      <div class="col-md-4 text-right">
        <div class="form-group col-md-9"><input id="id_identity" name="identity" type="text" class="form-control" placeholder="Numéro"></div><button class="btn btn-primary" type="submit">Recherche</button>
      </div>
    </div>
</form>

<table class="table table-condensed table-hover table-bordered table-striped table-stats">
    <thead>
        <tr>
            <th>Numéro</th>
            <th>Date</th>
            <th>Localité</th>
            <th>Ethnie</th>
            <th>Age</th>
            <th>Projet</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests_paginator.object_list %}
            <tr>
                <td><a href="{% url 'handled_request' request_id=request.id %}">{{ request.identity|phone }}</a></td>
                <td>{{ request.responded_on }}</td>
                <td>{{ request.location }}</td>
                <td>{{ request.ethnicity.name }}</td>
                <td>{{ request.age }}</td>
                <td>{{ request.project.name }}</td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="6">Aucun</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{handled}}

{% endblock %}
