{% extends "base.html" %}
{% load douentza %}

{% block title %}Archives{% endblock %}

{% block content %}
<h2>Archives</h2>

<form  class="form-horizontal" role="form" action="{% url 'archives' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-8">
        {% include 'pagination.html' with paginator=requests_paginator %}
      </div>
      <div class="col-md-4 text-right">
        <div class="form-group col-md-9"><input id="id_identity" name="identity" type="number" class="form-control" placeholder="Number"></div><button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
</form>

<table class="table table-condensed table-hover table-bordered table-striped table-stats">
    <thead>
        <tr>
            <th>Phone Number</th>
            <th>Date of Call</th>
            <th>Language</th>
            <th>Location</th>
            <th>Ethnicity</th>
            <th>Age</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests_paginator.object_list %}
            <tr>
                <td><a href="{% url 'archived_request' request_id=request.id %}">{{ request.identity|phone }}</a></td>
                <td>{{ request.received_on|handleddate }}</td>
                <td>{% include "_cluster_span.html" with event=request always=False %}</td>
                <td>{% include "_location_span.html" with event=request always=False %}</td>
                <td>{% include "_ethnicity_span.html" with event=request always=False %}</td>
                <td>{% include "_age_span.html" with event=request always=False %}</td>
                <td>{% include "_project_span.html" with event=request always=False %}</td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="6">None</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{handled}}

{% endblock %}
