{% extends "base.html" %}
{% load douentza %}

{% block title %}Archives for {{ event.identity|phone }}{% endblock %}

{% block extra_js %}
// Read Only Tag Manager
var request_id = {{event.id}};
$('.tags_container').append(getTagManager({request_id: request_id, readonly: true}).container);

// popovers survey data
$('.btn-survey').each(function (){
    changeSurveyButton($(this));
});

{% endblock %}

{% block content %}

<h1>{{ event.identity|phone }} - {{ event.received_on|eventdate }}</h1>

<table class="table table-condensed table-hover table-bordered table-striped table-stats">
    <tbody>
        <tr>
            <th>Date of Call</th>
            <td>{{ event.received_on|handleddate }}</td>
        </tr>
        <tr>
            <th>Date of Callback</th>
            <td>{{ event.responded_on|handleddate }}</td>
        </tr>
        <tr>
            <th>Language</th>
            <td>{% include "_cluster_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Agent</th>
            <td>{{ event.hotline_user }}</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>{% include "_age_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{% include "_gender_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{% include "_duration_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Ethnicity</th>
            <td>{% include "_ethnicity_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Project</th>
            <td>{% include "_project_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{% include "_location_span.html" with event=event always=True %}</td>
        </tr>
        <tr>
            <th>Tags</th>
            <td>{% if event.tags.all %}<div class="tags_container"></div>{% endif %}</td>
        </tr>
        <tr>
            <th>Surveys</th>
            <td>{% include "_surveys_span.html" with event=event %}</td>
        </tr>
        <tr>
        	<th>Transcript</th>
        	<td>{{ event.transcript|linebreaks }}</td>
        </tr>
    </tbody>
</table>

<h2>Attempts history</h2>
<table class="table table-condensed table-hover table-bordered table-striped table-stats">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for request in event.all_events %}
            <tr>
                <td>{{ request.received_on|handleddate }}</td>
                <td>{{ request.type_str }}</td>
                <td>{{ request.sms_message|default_if_none:"-" }}</td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="3">None</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
