<html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Modal{% endblock %}</title>
        {% include "css_tags.html" %}
    </head>
    <body class="{{ page }}" data-status="{% block status %}displayed{% endblock %}">

        {% block content %}{% endblock %}

        </div>

        {% include "javascript_tags.html" %}
        <script type="text/javascript">

        $(document).ready(function (){
            {% block extra_js %}{% endblock %}
        });
        </script>
    </body>
</html>
