<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Accueil{% endblock %} - Hotline - Douentza</title>
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/douentza.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/flot.css" rel="stylesheet">
    </head>
    <body class="{{ page }}">
        <div class="container">
            <div class="row-fluid">
            <div class="span8">
            <h1>Hotline Douentza</h1>
            </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/douentza.js"></script>
        <script type="text/javascript">
        $(document).ready(function (){
            {% block extra_js %}{% endblock %}
        });
        </script>
    </body>
</html>