<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Home{% endblock %} - Hotline - NERI</title>
        {% include "css_tags.html" %}
        <link href="{{ STATIC_URL }}favicon.ico?b=20130928" rel="icon" type="image/x-icon" />
        <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
    </head>
    <body class="{{ page }}">

        <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span></button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li {% ifequal page 'dashboard' %} class="active"{% endifequal %}><a href="{% url 'dashboard' %}">Dashboard&nbsp;<span class="new_calls badge pull-right">{% if events_count %}<span class="glyphicon glyphicon-earphone"></span> {{ events_count|default:""}}{% endif %}</span></a></li>
                <li {% ifequal page 'archives' %} class="active"{% endifequal %}><a href="{% url 'archives' %}">Archives</a></li>
                <li {% ifequal page 'statistics' %} class="active"{% endifequal %}><a href="{% url 'statistics' %}">Statistics</a></li>
                <li {% ifequal page 'stats_for_surveys' %} class="active"{% endifequal %}><a href="{% url 'stats_for_surveys' %}">Surveys Stats</a></li>
                {% if user.is_staff %}<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url 'admin_surveys' %}">Mini surveys</a></li>
                    <li><a href="{% url 'admin_projects' %}">Projects</a></li>
                    <li><a href="{% url 'blacklist' %}">Black List</a></li>
                </ul>
                </li>{% endif %}
                {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Sign out <strong>({{ user }})</strong></a></li>{% endif %}
                <li><a class="sms-type" data-container="body" data-tidtle="Hotline Numbers" data-content="<h3 style='color:orange;font-weight: bold;'>Orange: 94 42 43 44</h3><h3 style='color: blue;font-weight: bold;'>Malitel: 63 70 22 22</h3><table class='table table-striped '><tr><th>Agent</th><th>Orange</th><th>Malitel</th></tr><tr><td>Soŋay Gao (A.T)</td><td>78 93 81 59</td><td>67 17 87 65</td></tr><tr><td>Peulh (?)</td><td>?</td><td>?</td></tr><tr><td>Soŋay Tombouctou (K.D)</td><td>71 87 71 49</td><td>67 17 87 78</td></tr><tr><td>Anciens Hotline</td><td>71 74 71 28</td><td>67 17 87 97</td></tr></table>" data-placement="bottom" data-html="true">Hotline Numbers</a>    </li>
            </ul>
          </div>
        </nav>

        {% block content %}{% endblock %}

        </div>

        {% include "javascript_tags.html" %}
        {% if page == "statistics" or page == "stats_for_survey" %}<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js?v=3.0.5"></script>
        <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endif %}
        <script type="text/javascript">
        jQsmsTextHover();
        $(document).ready(function (){
            {% block extra_js %}{% endblock %}
        });
        </script>
    </body>
</html>
