<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Accueil{% endblock %} - Hotline - Douentza</title>
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/douentza.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/favicon.ico" rel="icon" type="image/x-icon" />
    </head>
    <body class="{{ page }}">

        <div class="container">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span class="sr-only">Toggle navigation</span></button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li {% ifequal page 'event_dashboard' %} class="active"{% endifequal %}><a href="{% url 'event_dashboard' %}">Tableau de bord&nbsp;<span class="new_calls badge pull-right">{% if events_count %}<span class="glyphicon glyphicon-earphone"></span> {{ events_count|default:""}}{% endif %}</span></a></li>
                <li {% ifequal page 'archives' %} class="active"{% endifequal %}><a href="{% url 'archives' %}">Archives</a></li>
                <li {% ifequal page 'statistics' %} class="active"{% endifequal %}><a href="{% url 'statistics' %}">Statistiques</a></li>
                <li {% ifequal page 'stats_for_surveys' %} class="active"{% endifequal %}><a href="{% url 'stats_for_surveys' %}">Stats Questionnaires</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Configuration <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url 'admin_surveys' %}">Mini questionnaires</a></li>
                    <li><a href="{% url 'admin_projects' %}">Projets</a></li>
                    <li><a href="{% url 'blacklist' %}">Liste noire</a></li>
                </ul>
                </li>
                {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Déconnexion <strong>({{ user }})</strong></a></li>{% endif %}
            </ul>
          </div>
        </nav>

        {% block content %}{% endblock %}

        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/date-fr-FR.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/douentza.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">

        $(document).ready(function (){
            {% block extra_js %}{% endblock %}
        });
        </script>
    </body>
</html>