{% extends "base.html" %}
{% load douentza %}

{% block title %}Black List{% endblock %}

{% block content %}

<div class="alert alert-info">
<p>Any event (ring, SMS, etc.) coming from a number in the black list will be ignored and won't appear on the dashboard (nor elsewhere).</p>
<p>Number bellow indicates the number of (unprocessed) attempts from that number.</p>
</div>

<table class="table table-hover table-bordered ancient_events_table">
    <thead>
        <tr><th colspan=5>The black list</th></tr>
    </thead>
    <tbody>
        {% for blacknum in blacknums %}
        <tr>
            <td>
                <span class="badge"><span class="glyphicon glyphicon-earphone"></span>&nbsp;{{ blacknum.call_count }}</span>
                <strong>{{ blacknum.identity|phone }}</strong>
            </td>
            <td>
                <a href="{% url 'blacklist' blacknum.id %}">
                    <button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-ok-sign"> </span> Release from black list</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <td colspan=3>No blacklisted number!</td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

