{% extends "base.html" %}
{% load douentza %}

{% block title %}Liste noire{% endblock %}

{% block content %}

<div class="alert alert-info">
<p>Tout événement (bip, SMS, etc) provenant d'un numéro sur liste noire sera ignoré et n'apparaîtra donc pas dans le tableau de bord (ni ailleurs).</p>
<p>Le chiffre indique le nombre de tentatives (infructueuses donc) du numéro.</p>
</div>

<table class="table table-hover table-bordered ancient_events_table">
    <thead>
        <tr><th colspan=5>La liste noire</th></tr>
    </thead>
    <tbody>
        {% for blacknum in blacknums %}
        <tr>
            <td>
                <span class="badge"><span class="glyphicon glyphicon-earphone"></span>&nbsp;{{ blacknum.call_count }}</span>
                <strong>{{ blacknum.identity|phone }}</strong>
            </td>
            <td>
                <a href="{% url 'blacklist' blacknum.id %}">
                    <button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-ok-sign"> </span> Retirer de la liste noire</button>
                </a>
            </td>
        </tr>
        {% empty %}
        <td colspan=3>Aucun numéro dans la liste !</td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

