<table class="table table-hover table-bordered ancient_events_table table-striped">
    {% if not all_events.has_events %}
    <tr><td><span class="glyphicon glyphicon-thumbs-up"></span> Bravo! Il n'y a aucun appel en attente.</td></tr>
    {% endif %}
    {% if all_events.ancient_events %}
    <thead>
        <tr><th colspan="5">Plus anciens</th></tr>
    </thead>
    <tbody>
        {% include "dashboard_table_loop.html" with all_events=all_events.ancient_events %}
    </tbody>
    {% endif %}
    {% if all_events.yesterday_events %}
    <thead>
        <tr><th colspan="5">Hier</th></tr>
    </thead>
    <tbody>
        {% include "dashboard_table_loop.html" with all_events=all_events.yesterday_events %}
    </tbody>
    {% endif %}
    {% if all_events.today_events %}
    <thead>
        <tr><th colspan="5">Aujourd'hui</th></tr>
    </thead>
    <tbody>
        {% include "dashboard_table_loop.html" with all_events=all_events.today_events %}
    </tbody>
    {% endif %}
</table>