{% extends "base.html" %}
{% load douentza %}

{% block extra_js %}
styleFormElements();
setupDatetimePicker({split_widget: true, split_selector: "responded_on", parent_selector: "#eventModal", dirty: {% if form.errors %}true{% else %}false{% endif %}});

// UI popovers
$('.surveys').popover({html: true}).popover('show');

// tags
var request_id = {{event.id}};
$('.tags_container').append(getTagManager({request_id: request_id, readonly: false}).container);

{% if form.errors %}
fill_from_previous();
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ event.identity|phone }} <span class="badge badge_alert">{{event.additionalrequests.count}} <span class="glyphicon glyphicon-earphone"></span></span></h1>

{% if event.historics %}
    <div class="panel-group" id="accordion" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <div class="panel panel-default">
            <div class="panel-heading" >
              <h2 class="panel-title bs-title:after"><span class="glyphicon glyphicon-circle-arrow-down"></span>
                Historique des appels
              </h2>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for historic in event.historics %}
                        <p><span title="Durée: {{historic.duration}} s">{{historic.responded_on}}</span>
                            {% if historic.location %}<span class="badge badge_location"><span class="glyphicon glyphicon-map-marker"></span>{{historic.location}}</span>{% endif %}
                            {% if historic.age %}<span class="badge">{{historic.age}} ans</span>{% endif %}
                            {% if historic.sex %}
                                {% if historic.sex == "female" %}<span class="badge badge_woman"><span class="glyphicon glyphicon-user"></span></span></span>
                                {% else %}<span class="badge badge_man"><span class="glyphicon glyphicon-user"></span></span>{% endif %}
                            {% endif %}
                            {% if historic.project %}<span class="badge badge_project">{{historic.project}}</span>{% endif %}
                            {% if historic.tags %}
                                {% if historic.tags.count <= 3 %}
                                {% for tag in historic.tags.all %}<span class="badge badge_tag"> {{tag}}</span> {% endfor %}
                                {% else %}<span class="badge badge_tag" title="{% for tag in historic.tags.all %} {{tag}} {% endfor %}">
                                    ...</span>{% endif %}
                            {% endif %}
                            <span data-placement="top" data-toggle="popover" data-container="body" type="button" data-original-title="" title="Questionnaire" class='surveys' class="badge" data-content="<ul>{% for survey in historic.surveys.all %}<li>{{survey}}</li>{% endfor %}<ul>">
                                <span class="glyphicon glyphicon-book"></span>
                            </span></p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<form  class="form-horizontal" role="form" action="{% url 'display_event' event.id %}" method="post">
    {% csrf_token %}
    {{ form.request_id }}
    <div class="row">
        <div class="col-md-6">
            <div id="eventModal">
                <div class="form-group {% if form.responded_on.errors %} has-error {% endif %}" >
                    <label class="col-lg-3 control-label">{{ form.responded_on.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.responded_on.errors %}{{ form.responded_on }}</div>
                </div>
            </div>
            <div class="form-group {% if form.ethnicity.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.ethnicity.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.ethnicity.errors %}{{ form.ethnicity }}</div>
            </div>
            <div class="form-group {% if form.sex.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.sex.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.sex.errors %}{{ form.sex }}</div>
            </div>
            <div class="form-group {% if form.age.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.age.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.age.errors %}{{ form.age }}</div>
            </div>
            <div class="form-group {% if form.project.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.project.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.project.errors %}{{ form.project }}</div>
            </div>
            <div class="form-group {% if form.duration.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.duration.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.duration.errors %}{{ form.duration }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group {% if form.region.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.region.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.region.errors %}{{ form.region }}</div>
            </div>
            <div class="form-group {% if form.cercle.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.cercle.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.cercle.errors %}{{ form.cercle }}</div>
            </div>
            <div class="form-group {% if form.commune.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.commune.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.commune.errors %}{{ form.commune }}</div>
            </div>
            <div class="form-group {% if form.village.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.village.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.village.errors %}{{ form.village }}</div>
            </div>
        </div>
    </div>
     <div class="row">
         <div class="col-md-3"></div><div class="col-md-6"><button type="submit" class="form-control btn btn-default">Sauvegarder</button></div><div class="col-md-3"></div>
    </div>
{% if form.errors %}
    <input type="hidden" id="previous_cercle" value="{{ form.cercle.value }}" />
    <input type="hidden" id="previous_commune" value="{{ form.commune.value }}" />
    <input type="hidden" id="previous_village" value="{{ form.village.value }}" />
{% endif %}
</form>

<div class="tags_container">
    <h2>Tags</h2>
</div>

<div>
    <h2>Mini Questionnaires</h2>

</div>

{% endblock %}