{% extends "base.html" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div><h1> Derniers appels</h1></div>
<div>
    <table class="table table-hover table-bordered ancient_events_table">
        <thead>
            <tr><th colspan="5">Plus anciens</th></tr>
        </thead>
        <tbody>
            {% include "event_dashboard_loop.html" with all_events=all_events.ancient_events %}
        </tbody>
    </table>

    <table class="table table-hover table-bordered yesterday_events_table">
        <thead>
            <tr><th colspan="5">Hier</th></tr>
        </thead>
        <tbody>
            {% include "event_dashboard_loop.html" with all_events=all_events.yesterday_events %}
        </tbody>
    </table>

    <table class="table table-hover table-bordered today_events_table">
        <thead>
            <tr><th colspan="5">Aujourd'hui</th></tr>
        </thead>
        <tbody>
            {% include "event_dashboard_loop.html" with all_events=all_events.today_events %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block extra_js %}
setupPingLoop('{{now}}');
{% endblock %}