{% load douentza %}<tr class="row-request" request-id="{{ event.id }}">
    <td>
        <strong class="phonelead">{{ event.identity|phone }}</strong>
        <span class="label {{event.status|statuscss}}">{{ event.status_str }}</span>
        {{ event.received_on |eventdateshort}}

        {% include "_all_event_span.html" with event=event always=True %}
    </td>

    <td><a href="{% url 'display_event' request_id=event.id %}"><button type="button" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span> Saisir le rappel</button></a></td>
    <td><a href="{% url 'change_event' event.id 'IS_BUSY' %}"><button type="button" class="btn btn-xs btn-warning"><span class="glyphicon"></span> Occupé</button></a></td>
    <td><a href="{% url 'change_event' event.id 'NOT_ANSWERING' %}"><button type="button" class="btn btn-xs btn-danger"><span class="glyphicon"></span> Ne répond pas</button></a></td>
    <td><a href="{% url 'change_event' event.id 'BLACK_LIST'%}"><button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Blacklister</button></a></td>
</tr>