{% extends "base.html" %}
{% block content %}

{% if form.errors %}
<p class="alert alert-danger">Votre nom d'utilisateur et mot de passe ne correspondent pas. S'il vous plaît essayer de nouveau.</p>
{% endif %}
<form sclass="form" class="login_form" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
<legend>Identification</legend>

<div class="form-group">
{{ form.username.label_tag }}
{{ form.username }}
</div>
<div class="form-group">
{{ form.password.label_tag }}
{{ form.password }}
</div>
<input type="hidden" name="next" value="{{ next }}" />
<button type="submit" class="btn btn-primary">S'identifier</button>
</form>
{% endblock %}

{% block extra_js %}
    styleFormElements();
{% endblock %}
