{% extends "base.html" %}

{% block title %}Identification{% endblock %}

{% block content %}

{% if form.errors %}
<p class="alert alert-danger">Votre nom d'utilisateur et mot de passe ne correspondent pas. S'il vous plaît essayer de nouveau.</p>
{% endif %}
<form class="login_form form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
<legend class="form-signin-heading">Merci de vous identifier</legend>

<div class="form-group">
<input type="text" name="{{ form.username.name }}" class="form-control" placeholder="{{ form.username.label }}" autofocus="autofocus">
<input type="password" name="{{ form.password.name }}" class="form-control" placeholder="{{ form.password.label }}">
<input type="hidden" name="next" value="{{ next }}" />
<button type="submit" class="btn btn-lg btn-primary btn-block">S'identifier</button>
</form>
{% endblock %}

{% block extra_js %}
    styleFormElements();
{% endblock %}
