{% extends "base_modal.html" %}

{% load douentza %}

{% block extra_js %}
styleFormElements();
// Filter non-digits from input value
// as safari doesn't prevent html5 number from inserting text
$('input[type="number"]').on('keyup', function(e)
{
	var target = $('#' + $(e.target)[0].id);
	var value = target.val();
	if (value.length == 0 || /[^0-9\.]/g.test(value)) {
        $(this).val(value.replace(/[^0-9\.]+/g, ''));
    }
});
{% for field in form %}{{ field|datepickerjs|safe }}{% endfor %}
{% endblock %}

{% block content %}
<div class="frameside">
<p>{{ survey.description }}</p>
<form action="{% url 'mini_survey_form' survey.id request.id %}" method="post">
{% csrf_token %}
{% for field in form %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
     {{ field.label_tag }}
     <span class="hidden errors">{% for error in field.errors %}{{ error }} {% endfor %}</span>
    {{ field }}
</div>
{% endfor %}
<input type="submit" class="form-control btn btn-primary" value="Save" />
</form>
</div>
{% endblock %}
