{% extends "base.html" %}
{% load douentza %}

{% block title %}Monitoring{% endblock %}

{% block content %}
    <h3>Monintoring </h3>
    <table class="table table-condensed table-hover table-bordered table-striped table-stats-vertical">
        <tbody>
            <tr>
                <th class="span8">Day</th>
                <th class="span8">Request</th>
                <th class="span8">Callbacks</th>
                <th class="span8">Surveys taken</th>
                {% for user in users %}
                    <th class="span8">{{ user }}</th>
                {% endfor %}
            </tr>
            {% for d in data %}
                <tr>
                    <td class="span4">{{ d.day|datemonintoring }}</td>
                    <td class="span4">{{ d.nb_received }}</td>
                    <td class="span4">{{ d.nb_responded }}</td>
                    <td class="span4">{{ d.takens }}</td>
                    {% for count in d.counts %}
                        <td class="span4">{{ count }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
