<ul class="pagination">
    {% if not paginator.has_previous %}<li class="disabled"><a href="javascript:void(0);" title="Previous Page">&laquo;</a></li>{% else %}<li><a href="?page={{ paginator.previous_page_number }}" title="Previous Page">&laquo;</a></li>{% endif %}

    {% for page_num in paginator.paginator.page_range2 %}
    <li {% if paginator.number = page_num %}class="active"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
    {% endfor %}

    {% if not paginator.has_next %}<li class="disabled"><a href="javascript:void(0);">&raquo;</a></li>{% else %}<li><a href="?page={{ paginator.next_page_number }}" title="Next Page">&raquo;</a></li>{% endif %}
</ul>
