{% if event.previous_requests %}
    <div class="panel-group accordion">
        <div class="panel panel-default">
            <div class="panel-heading accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseThree">
              <h2 class="panel-title">Appels précédents <span class="caret"></span></h2>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    {% for previous_request in event.previous_requests %}
                        <p>
                            {{previous_request.responded_on}}

                            {% include "_duration_span.html" with event=previous_request %}

                            {% include "_location_span.html" with event=previous_request %}

                            {% include "_ethnicity_span.html" with event=previous_request %}

                            {% include "_age_span.html" with event=previous_request %}

                            {% include "_gender_span.html" with event=previous_request %}

                            {% include "_project_span.html" with event=previous_request %}

                            <span class="request-tags" request-id="{{ previous_request.id }}"></span>

                            {% include "_surveys_span.html" with event=previous_request placement="bottom" %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}