{% extends "base.html" %}
{% load douentza %}

{% block title %}Data Entry for {{ event.identity|phone }}{% endblock %}

{% block extra_js %}
// Form CSS
styleFormElements();

// Basic Infos DatePicker
setupDatetimePicker({split_widget: true, split_selector: "responded_on", parent_selector: "#eventModal", dirty: {% if form.errors %}true{% else %}false{% endif %}});

// Editor Tag Manager
var request_id = {{event.id}};
$('.tags_container').append(getTagManager({request_id: request_id, readonly: false}).container);

// previous requests tags
$('.request-tags').each(function () {
    $(this).replaceWith(getTagManager({request_id: $(this).attr('request-id'), readonly: true, holder_tag: 'span', max_items: 3}).container);
});

// Basic Infos Location Tricks
{% if form.errors or form.lga.value or form.ward.value %}fill_from_previous();{% endif %}

// popovers survey data
{% for survey in surveys %}
    {% if not survey|available_for:event %}
        changeSurveyButton($('.btn-survey[survey-id={{survey.id}}][request-id={{event.id}}]'));
    {% endif %}
{% endfor %}

// popovers survey data in history/previous
$('#accordion .btn-survey').each(function (){
    changeSurveyButton($(this));
});

$('button[type="submit"]').on('click', function () {
   $('form').submit();
});

{% endblock %}

{% block content %}
<h1>{{ event.identity|phone }} <span class="badge badge_alert badge-xs"><span class="glyphicon glyphicon-earphone"></span> {{event.additionalrequests.count|default:"1" }} </span></h1>

{% include "request_history_panel.html" with event=event %}

<form  class="form-horizontal" role="form" action="{% url 'display_request' event.id %}" method="post">
    {% csrf_token %}
    {{ form.request_id }}
    <div class="row">
        <div class="col-md-6">
            <div id="eventModal">
                <div class="form-group {% if form.responded_on.errors %} has-error {% endif %}" >
                    <label class="col-lg-3 control-label">{{ form.responded_on.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.responded_on.errors %}{{ form.responded_on }}</div>
                </div>
            </div>
            <div class="form-group {% if form.ethnicity.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.ethnicity.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.ethnicity.errors %}{{ form.ethnicity }}</div>
            </div>
            <div class="form-group {% if form.sex.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.sex.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.sex.errors %}{{ form.sex }}</div>
            </div>
            <div class="form-group {% if form.age.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.age.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.age.errors %}{{ form.age }}</div>
            </div>
            <div class="form-group {% if form.project.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.project.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.project.errors %}{{ form.project }}</div>
            </div>
            <div class="form-group {% if form.duration.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.duration.label }}</label><div class="col-lg-9">{% include "form_error_span.html" with errors=form.duration.errors %}{{ form.duration }}</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group {% if form.state.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.state.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.state.errors %}{{ form.state }}</div>
            </div>
            <div class="form-group {% if form.lga.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.lga.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.lga.errors %}{{ form.lga }}</div>
            </div>
            <div class="form-group {% if form.ward.errors %} has-error {% endif %}">
                <label class="col-lg-3 control-label">{{ form.ward.label }}</label> <div class="col-lg-9">{% include "form_error_span.html" with errors=form.ward.errors %}{{ form.ward }}</div>
            </div>
        </div>
    </div>
{% if form.errors or form.lga.value or form.ward.value %}
    <input type="hidden" id="previous_lga" value="{{ form.lga.value }}" />
    <input type="hidden" id="previous_ward" value="{{ form.ward.value }}" />
{% endif %}
</form>

<div class="tags_container">
    <h2>Tags</h2>
</div>
{% if surveys %}
<div>
    <h2>Mini Surveys</h2>
    <ul>
    {% for survey in surveys %}
    {% include "mini_survey_data.html" with survey_taken=survey|taken:event %}
    <li>{{ survey.title }} <buton class="btn btn-default btn-xs btn-survey popover-data" survey-id="{{ survey.id }}" request-id="{{ event.id }}" title="{{ survey.title }}">Take the Survey</button></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<div class="row">
    </div><div class="col-md-6 col-md-offset-3"><button type="submit" class="form-control btn btn-primary">Save &amp; archive</button></div>
</div>

{% endblock %}
