{% load douentza %}

{% if hotlinerequest_project_count %}

<h3>Repartition of Callbacks by Project</h3>
<table class="table table-condensed table-hover table-bordered table-striped table-stats">
    <thead>
        <tr>
            <th>Project</th>
            <th>Rate</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        {% for name_project, count, percent in hotlinerequest_project_count %}
            <tr>
                <td>{{ name_project }}</td>
                <td class='important'>{{ percent|floatformat:2 }}% </td>
                <td class='important'>{{ count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
