{% load douentza %}

{% if communes_located_requests %}
    <h3>Repartition of Callbacks by Commune</h3>
    <table class="table table-condensed table-hover table-bordered table-striped table-stats">
        <thead>
            <tr><th>Commune</th>
                <th>Rate</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for commune, count, percent in communes_located_requests %}
                <tr>
                    <td>{{ commune }}</td>
                    <td class='important'>{{ percent|floatformat:2 }}% </td>
                    <td class='important'> {{ count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
