{% extends "base.html" %}
{% load douentza %}

{% block title %}Statistics{% endblock %}

{% block content %}
{% if no_stats %}
<p class="alert alert-warning">Statistics have not been generated yet.</p>
{% else %}
    <h2>General Statistics</h2>
    <p class="pull-left">Statistics (including mini surveys ones) are updated periodicaly (approx. every 2 hours).<br />Last update: {{ last_update|handleddate }}</p>
    <a href="{{ general_stats_slug|cachedslug }}" class="pull-right"><button class="btn btn-success"><span class="glyphicon glyphicon-download"></span> Export Data as CSV</button></a>
    <table class="table table-condensed table-hover table-bordered table-striped table-stats-vertical">
        <tbody>
            <tr>
                <th class="span8">Last Call</th>
                <td class="span4">{{ last_event.received_on|handleddate }}</td>
            </tr>
            <tr>
                <th>Total Nb. of Calls</th>
                <td class="important">{{ nb_total_events }}</td>
            </tr>
            <tr>
                <th>Total Nb. of Callbacks</th>
                <td class="important">{{ nb_total_replies }}</td>
            </tr>
            <tr>
                <th>Total Nb. of unique numbers</th>
                <td class="important">{{ nb_unique_number }}</td>
            </tr>
            <tr>
                <th>Callbacks duration:</th>
                <td><strong>{{ sum_duration.duration__sum|duration|default_if_none:"-" }}</strong></td>
            </tr>

            <tr>
                <th class="ident">Longest</th>
                <td><strong>{{ longest_duration.duration__max|duration|default_if_none:"-" }}</strong></td>
            </tr>
            <tr>
                <th class="ident">Average</th>
                <td><strong>{{ average_duration.duration__avg|duration|default_if_none:"-" }}</strong></td>
            </tr>
            <tr>
                <th class="ident">Shortest</th>
                <td><strong>{{ short_duration.duration__min|duration|default_if_none:"-" }}</strong></td>
            </tr>
            <tr>
                <th>Total by Gender (Male/Female/Unnown)</th>
                <td>{{ sex_male }} M/ {{ sex_female }} F/ {{ sex_unknown }} Unknown{{ sex_unknown|pluralize }}</td>
            </tr>
            <tr>
                <th>Total Nb. of Projects</th>
                <td class="important">{{ nb_projects }}</td>
            </tr>
            <tr>
                <th>Total Nb. of Surveys</th>
                <td class="important">{{ nb_survey }}</td>
            </tr>
            <tr>
                <th>Nb. of calls outside a Project</th>
                <td class="important">{{ nb_projects }}</td>
            </tr>
            <tr>
                <th>Nb. of Surveys Taken</th>
                <td class="important">{{ nb_survey_taken }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Locations of calls</h2>
    <p>One dot per LGA. Click on point to see LGA statistics.</p>
    <div id="map" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    {% include "stats_per_age.html" %}
    {% include "stats_per_project.html" %}
    {% include "stats_per_cluster.html" %}
    {% include "stats_ethinicity_table.html" %}

    <h2>Calls graph</h2>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

    {% include "stats_commune_table.html" %}

{% endif %}
{% endblock %}

{% block extra_js %}
graph_event_response_counts("{% url 'event_response_counts' %}");
//var map = L.mapbox.map('map', 'examples.map-9ijuk24y').setView([40, -74.50], 9);
map = L.mapbox.map('map', 'rgaudin.gfak5lf0')
        .setView([9.270, 8.954], 7)
        .addControl(L.mapbox.geocoderControl('rgaudin.gfak5lf0'));

var display_fields = ['nb_calls', 'nb_unique_numbers', 'nb_male', 'nb_female', 'nb_unknown_gender', 'nb_answered', 'first_call', 'last_call'];

var markers = new L.MarkerClusterGroup();

var geojson_url = "{% url 'cached_slug' 'geojson_statistics' %}";
$.getJSON(geojson_url, function(geojson) {

    var geoJsonLayer = L.geoJson(geojson, {
       onEachFeature: function(feature, layer) {
            function gen_line(field, label, is_date) {
                var value = layer.feature.properties[field];
                if (is_date === true) {
                    value = format_date(value);
                }
                return '<li>' + label + ' : <strong>' + value + '</strong></li>';
            }

            function format_date(isodate) {
                return new Date(parseInt(Date.parse(isodate))).toDateString();
            }

            var content = '<h1>' + layer.feature.properties.display_full_name + '</h1>' +
                          '<ul>' +
                          gen_line('nb_calls', "Nb. of Calls") +
                          gen_line('nb_unique_numbers', "Nb. of unique numbers") +
                          gen_line('nb_male', "Nb. calls Men") +
                          gen_line('nb_female', "Nb. calls Women") +
                          gen_line('nb_unknown_gender', "Nb. calls Unknown") +
                          gen_line('nb_answered', "Nb. calls answered") +
                          gen_line('first_call', "First call", true) +
                          gen_line('last_call', "Last call", true) +
                          '</ul>';
            layer.bindPopup(content);
       }
    });

    markers.addLayer(geoJsonLayer);
    map.addLayer(markers);

});
{% endblock %}
