{% load douentza %}

<h3>Reparition of Callbacks by Age Group</h3>
<table class="table table-condensed table-hover table-bordered table-striped table-stats">
    <thead>
        <tr>
            <th class="span2">Age Group</th>
            <th class="span2">Rate</th>
            <th class="span2">Number</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>Under 18</td>
            <td>{{ under_18.1|floatformat:2 }}% </td>
            <td>{{ under_18.0 }}</td>
        </tr>
        <tr><td>19-25 y/o</td>
            <td>{{ stats_19_25.1|floatformat:2 }}%</td>
            <td>{{ stats_19_25.0 }}</td>
        </tr>
        <tr><td>26-40 y/o.</td>
            <td>{{ stats_26_40.1|floatformat:2 }}%</td>
            <td>{{ stats_26_40.0 }}</td>
        </tr>
        <tr><td>41-55 y/o.</td>
            <td>{{ stats_41_55.1|floatformat:2 }}%</td>
            <td>{{ stats_41_55.0 }}</td>
        </tr>
        <tr><td>Over 56</td>
            <td>{{ other_56.1|floatformat:2 }}%</td>
            <td>{{ other_56.0 }}</td>
        </tr>
        <tr><td>Unknown</td>
            <td>{{ unknown_age_percent|floatformat:2 }}%</td>
            <td>{{ unknown_age }}</td>
        </tr>
    </tbody>
</table>
