{% load douentza %}

<h3>Répartition des rappels par tranche d'âge</h3>
<table class="table table-condensed table-hover table-bordered table-striped table-info">
    <thead>
        <tr>
            <th class="span2">Tranche d'âge</th>
            <th class="span2">Taux (nombre)</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>moins de 18</td>
            <td><strong>{{ under_18.1|floatformat:2 }}% ({{ under_18.0 }})</strong></td>
        </tr>
        <tr><td>de 19 à 25</td>
            <td><strong>{{ stats_19_25.1|floatformat:2 }}% ({{ stats_19_25.0 }})</strong></td>
        </tr>
        <tr><td>de 26 à 40</td>
            <td><strong>{{ stats_26_40.1|floatformat:2 }}% ({{ stats_26_40.0 }})</strong></td>
        </tr>
        <tr><td>de 41 à 55</td>
            <td><strong>{{ stats_41_55.1|floatformat:2 }}% ({{ stats_41_55.0 }})</strong></td>
        </tr>
        <tr><td>56 et plus</td>
            <td><strong>{{ other_56.1|floatformat:2 }}% ({{ other_56.0 }})</strong></td>
        </tr>
        <tr><td>Inconnus</td>
            <td><strong>{{ unknown_age_percent|floatformat:2 }}% ({{ unknown_age }})</strong></td>
        </tr>
    </tbody>
</table>