{% load douentza %}

{% if nb_ethinicity_requests %}
    <h3>Repartition of Callbacks by Ethnicity</h3>
    <table class="table table-condensed table-hover table-bordered table-striped table-stats">
        <thead>
            <tr><th>Ethnicity</th>
                <th>Rate</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            {% for ethnicity, count, percent in nb_ethinicity_requests %}
                <tr><td>{{ ethnicity|default_if_none:"Unknown" }}</td>
                    <td class='important'>{{ percent|floatformat:2 }}%</td>
                    <td class='important'> {{ count }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
